<% include ./partials/header %>

<div class="container">

<header class="jumbotron">
<div class="container"><h1>Welcome to IEEE NSIT</h1>
<p></p>
<!--<p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Post New Campground</a> </p> -->
</div>
</header>

        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        
        
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail"> 
                <img src="https://pbs.twimg.com/media/Dffo4RaXkAMiFnu.jpg">
                
                <div class="caption">
                    <h4>Events</h3>
                    </div>  
                    <p><a href="/events" class="btn btn-primary">More Info</a></p>
                </div>
            </div>
             
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail"> 
                <img src="https://pbs.twimg.com/media/Dffo4RaXkAMiFnu.jpg">
                
                <div class="caption">
                    <h4>Blogs</h3>
                    </div>  
                    <p><a href="/events" class="btn btn-primary">More Info</a></p>
                </div>
            </div>
                  
         <div class="col-md-4 col-sm-6">
            <div class="thumbnail"> 
                <img src="https://pbs.twimg.com/media/Dffo4RaXkAMiFnu.jpg">
                
                <div class="caption">
                    <h4>SIGs</h3>
                    </div>  
                    <p><a href="/events" class="btn btn-primary">More Info</a></p>
                </div>
            </div>   
            
        
            
        
        </div>
</div>
<% include ./partials/footer %>
